// COLORS
$primary-color: #192930;
$secondary-color: #182432;

$primary-hero-color: #0177aa;
$secondary-hero-color: #0056b8;

$white-color: #313131;

$dark-grey: #313131;
$light-grey: #ff0000;

$dark-blue-text: #cdcdcd; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
