// COLORS
$primary-color: #0177aa;
$secondary-color: #0056b8;

$white-color: #ffffff;

$dark-grey: #333333;
$light-grey: #1b1b1b;

$dark-blue-text: #112463; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
